@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
$colors: (
    text: #494949,
    background: #f2f2f2,
    placeholder: #acacac
);
@function color($color-name){
    @return map-get($colors, $color-name);
}
$width: calc(100% - 40px); 

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  
 
}
body{
    display: flex;
    align-items: center;
    flex-flow: column;
    box-sizing: border-box;
}


#content {
    margin: 0 20px;
    width: $width;
    
}
.content-width{
    width: $width;
    margin: 0 20px;

}
h1 {
    font-weight: 800;
    letter-spacing: -1px;
    font-size: 2em;
    color: color(text);
    margin: 30px 0;
   
}

#search-bar {
    display: flex;
  
    margin: 30px auto;
    border: 1px solid color(text);;
    width: $width;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    
    
    #search-button {
        background: url(../Asseti/search.svg) no-repeat right/contain;   
        margin: 0;
        padding: 10px 15px;
        vertical-align: middle;
        border: none;   
        border-right: 10px solid #fff;
       
    }
    #search-input{
        width: 90%;
        border: none;
        background: none;
        padding: 5px;
    }
    #search-input::placeholder {
        padding: 5px;
        color: color(placeholder);
    }

}
#news-display {
    display: flex;
    width: $width;
    align-items: center;
    margin: 0 20px;
    flex-flow: column;

  
    .news {
       width:100%;
        margin: 10px;
        border-radius:5px;
        overflow:hidden;
        display:flex;
        height: 120px;
        
        
        .news-img{
            overflow: auto;
            object-fit: cover;
            min-width: 150px;
            
        }
        .news-article{
            padding: 20px;
            background-color: color(background);
            min-width:70%;
            position: relative;
            display: flex;
            flex-flow: column;
            .small {
                font-size: 0.8em;
            }
            p {
                font-size:0.9em;
                letter-spacing: -0.5px;
            }
          
            .news-heading {
                font-weight: 800;
                letter-spacing: -1px;
                color: color(text);
                font-size: 1em;
                padding-bottom: 1em;
                 
            }
            a{
                color: color(text);
                text-decoration: none;
                border-bottom: 1px solid color(text);
                position: absolute;
                bottom: 1em;
               
            }
            .news-content{
                padding: 1em 0;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
@media screen and (max-width:715px){
    
    #content  
   {
        width: 100%;
   
    } 
    .content-width,
    #search-bar {
        width: 80%;
    }
   
  
    .news-img{
        min-height: 200px;
    }
}
