@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');
$colors: (
    text: #494949,
    background: #f2f2f2,
    placeholder: #acacac
);
@function color($color-name){
    @return map-get($colors, $color-name);
}
$width: 482px; 
$height: 326px;
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    flex-flow: column;
    box-sizing: border-box;
}


#content {
    margin: 0 auto;
    
}
.content-width{
    width: $width;
    margin: 0 auto;

}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    color: color(text);
    margin: 30px 0;
   
}
#search-bar {
    display: flex;
  
    margin: 30px auto;
    border: 1px solid color(text);;
    width: $width;
    border-radius: 5px;
    position: relative;
    
    
    #search-button {
        background: url(../Asseti/search.svg) no-repeat center/contain;   
        margin: 0;
        padding: 10px 15px;
        vertical-align: middle;
        border: none;   
        
    }
    #search-input{
        width: 90%;
        border: none;
        background: none;
      
    }
    #search-input::placeholder {
        padding: 5px;
        color: color(placeholder);
    }
}
#news-display {
    display: flex;
  
    align-items: center;
    margin: 0 auto;

    .arrow {
       padding: 15px;
       margin: 20px;
       border: none;
    }
    .arrow-left {
        background: url(../Asseti/left-arrow.svg) no-repeat center/contain;
    }
    .arrow-right{
        background: url(../Asseti/right-arrow.svg) no-repeat center/contain;
    }
    .news-preview{
        width: $width;
        height: $height;
        display:flex;
        
        #news-img{
            
        }
        #news-article{
            padding: 20px;
            background-color: color(background);
        }
    }
}

