@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
$colors: (
    text: #494949,
    background: #f2f2f2,
    placeholder: #acacac
);
@function color($color-name){
    @return map-get($colors, $color-name);
}
$width: calc(100% - 40px); 

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  
 
}
body{
    display: flex;
    align-items: center;
    flex-flow: column;
    box-sizing: border-box;
}


#content {
    width: 960px;
    margin: 0 auto;
    
    
}
.content-width{
    width: $width;
    margin: 0 20px;

}
h1 {
    font-weight: 800;
    letter-spacing: -1px;
    font-size: 2em;
    color: color(text);
    margin: 30px 0;
   
}

#search-bar {
    display: flex;
  
    margin: 30px auto;
    border: 1px solid color(text);;
    width: $width;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    
    
    #search-button {
        background: url(../Asseti/search.svg) no-repeat right/contain;   
        margin: 0;
        padding: 10px 15px;
        vertical-align: middle;
        border: none;   
        border-right: 10px solid #fff;
       
    }
    #search-input{
        width: 95%;
        border: none;
        background: none;
        padding: 5px;
    }
    #search-input::placeholder {
        padding: 5px;
        color: color(placeholder);
    }

}
#news-display {
    display: grid;
    width: $width;
    align-items: center;
    margin: 0 20px;
    flex-flow: column;
    

  
    .news {
       width:100%;
        margin: 5px;
        border-radius:5px;
        overflow:hidden;
        display:flex;
        height: 150px;
        border: 1px solid #000;
       

        
        
        
        .news-img{
          max-width: 33%;          
          border-radius: 5px 0 0 5px;
            
        }
        .news-article{
            padding: 10px;
            background-color: color(background);
            overflow: hidden;
            position: relative;
          
            .small {
                font-size: 0.8em;
            }
            .author-small{
                position: absolute;
                top: 0;
                right:5%;
            }
            .date-small{
                position: absolute;
                top: 0;
                left:2%;
            }
            p {
                font-size:0.9em;
                letter-spacing: -0.5px;
            }
          
            .news-heading {
                font-weight: 800;
                letter-spacing: -1px;
                color: color(text);
                font-size: 1em;
                padding: 1em 0 0.2em;
                 
            }
            a{
                color: #fff;
                background-color: #000;
                text-decoration: none;
             
                position: absolute;
                bottom: 0;
                right: 5%;
               
            }
            .news-content{
                padding: 0;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
@media screen and (max-width:960px){
    
    #content  
   {
        width: 100%;
   
    } 
    .content-width,
    #search-bar {
        width: 80%;
    }
   
  
    .news{
        min-height: 200px;
       
    }
    news-img{
        max-width: 100%;
    }
}
@media screen and (max-width:650px){
  #news-display .news{
      height: 220px;
    .author-small{
        right: auto;
        left: 2%;
        top: 1em!important;
    }
    .news-heading{
        padding-top: 2em;
    }
  } 
}
@media screen and (max-width: 450px){
    
    #news-display .news-img{
      display: none;
    }
}